body {
    margin: 0 auto;
    background-image: url("../images/fs3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.tm-container {
    width: 500px;
    height: 530px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    background-color: rgba(255, 117, 26,0.2);
    margin-top: 150px;
}

    .tm-container img {
        width: 150px;
        height: 150px;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        ]
    }

input[type="text"], input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    font-family: 'Acme', sans-serif;
    padding-left: 30px;
}

.tm-btn {
    padding: 15px 50px;
    color: #fff;
    border: none;
    background-color: rgba(9, 23, 85,0.3);
    text-align: center;
    margin-bottom: 20px;
}

a {
    margin-top: 10px;
    color: #fff;
}

.label {
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
}
