#choose {
    color: #dedada;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 150px;
    left: 470px;
}

#bailey {
    position: absolute;
    top: 300px;
    left: 100px;
}

    #bailey:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#takename {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 609px;
    left: 310px;
}

    #takename:hover {
        color: #3197d1;
    }

#madname:hover {
    color: #3197d1;
}

#dhanname:hover {
    color: #3197d1;
}

#gulshanname:hover {
    color: #3197d1;
}

#uttaraname:hover {
    color: #3197d1;
}

#khilname:hover {
    color: #3197d1;
}

#view1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 480px;
    left: 300px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#banani {
    position: absolute;
    top: 300px;
    left: 650px;
}

    #banani:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#madname {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 609px;
    left: 835px;
}

#view2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 490px;
    left: 880px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#dhan {
    position: absolute;
    top: 829px;
    left: 100px;
}

    #dhan:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#dhanname {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 1140px;
    left: 275px;
}

#view3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 810px;
    left: 320px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#gulshan {
    position: absolute;
    top: 829px;
    left: 650px;
}

    #gulshan:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#gulshanname {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 1140px;
    left: 830px;
}

#view4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 810px;
    left: 890px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#khil {
    position: absolute;
    top: 1380px;
    left: 100px;
}

    #khil:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#khilname {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 1690px;
    left: 280px;
}

#view5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 1120px;
    left: 320px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#uttara {
    position: absolute;
    top: 1380px;
    left: 650px;
}

    #uttara:hover {
        opacity: 0.7;
        filter: alpha(opacity=50);
    }

#uttaraname {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 1690px;
    left: 830px;
}

#view6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 1120px;
    left: 880px;
    width: 130px;
    height: 50px;
    background-color: #CCC;
    background-repeat: no-repeat;
    border: solid black;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
